<h1>Book#edit</h1>
<%= form_with model: @book do |f| %>
  <%= f.text_field :title %>
  <%= f.collection_select(:category_id, @categories, :id, :name) %>
  <%= f.text_area :description, size: "20x10"%>

  <%= f.submit "登録" %>
<% end %>