<div class="container">
  <nav class="navbar">
    <div>
      <ul>
        <li>
          <%= link_to "", new_book_path, class: "fa fa-plus-circle fa-2x", aria: { hidden: "true" } %>
        </li>
        <li>
          <%= link_to "", books_path, class: "fa fa-book fa-2x", aria: { hidden: "true" }%>
        </li>
        <li>
          <%= link_to "", categories_path, class: "fa fa-list fa-2x", aria: { hidden: "true" }%>
        </li>
      </ul>
    </div>
  </nav>
    
  <main>  
    <%= form_with model: @search, local: true  do |f| %>
      <div class="search-form">
        <h2>ブック検索</h2>
        <%= f.text_field :title, class: "title-input"%>
      </div>
      <div class="form-radio-input">
        <%= f.collection_radio_buttons(:category_id, @categories, :id, :name, {prompt: "カテゴリーを選択してください"}, class: "radio-input") %>
      </div>

      <%= f.submit "検索", class:"button" %>
    <% end %>
  </main>
</div>